SECRET_KEY=your-secret-key-here

DEBUG=True

DB_NAME=africaroute
DB_USER=africaroute_user
DB_PASSWORD=your-database-password
DB_HOST=localhost
DB_PORT=5432


SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False